# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

fullnameOverride: app-resource-manager
serviceAccount:
  create: false
  name: orch-svc
traefikReverseProxy:
  restProxy:
    enabled: true
  gatewayNamespace: orch-gateway
  secretName: tls-orch
  tlsOption: gateway-tls

# https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
traefikApiGroup: "traefik.io/v1alpha1"

resources: null
vncProxyResources: null
vaultServer: "http://vault.orch-platform.svc.cluster.local:8200"
keycloakServer: "http://platform-keycloak.keycloak-system.svc.cluster.local:8080"
defaultNamespace: "orch-app"
