# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

clusterManager:
  extraArgs:
    disable-mt: false

templateController:
  extraArgs:
    - '--webhook-enabled=true'

webhookService:
  enabled: true
