# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

clusterManager:
  extraArgs:
    disable-metrics: false

metrics:
  enabled: true

openpolicyagent:
  tag: 1.10.1-static
