# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

clusterManager:
  extraArgs:
    disable-metrics: false

metrics:
  enabled: true

openpolicyagent:
  tag: 1.10.1-static

curlImage:
  name: badouralix/curl-jq@sha256
  tag: 8ee002ae4452b23a3c70750c5c081e95334cfe9f7968fb4d67a90d4001c29d0b
  pullPolicy: IfNotPresent

keycloakAdmin:
  passwordSecret:
    name: platform-keycloak  # name of the secret
    key: password  # key of the secret

