# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

loki:
  loki:
    storage:
      s3:
        endpoint: edgenode-observability-minio:9000

mimir-distributed:
  minio:
    deploymentUpdate:
      type: Recreate
    makeBucketJob:
      exitCommand: ""
    makeUserJob:
      exitCommand: ""
    makePolicyJob:
      exitCommand: ""
  # These values override the default configuration to run Grafana Mimir in classic architecture.
  # The "classic" architecture is what Mimir 2.x (mimir-distributed Helm chart version 5.x) used by default.
  # In this mode, Grafana Mimir doesn't use Kafka to decouple write and read paths. Instead,
  # the distributors push series directly to the ingesters.
  # https://github.com/grafana/mimir/blob/main/operations/helm/charts/mimir-distributed/classic-architecture.yaml
  kafka:
    enabled: false
  mimir:
    structuredConfig:
      ingest_storage:
        enabled: false
        kafka:
          address: null
          topic: null
          auto_create_topic_default_partitions: null
      distributor:
        remote_timeout: null
      ingester:
        push_grpc_method_enabled: true

opentelemetry-collector:
  alternateConfig:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            endpoint: ${env:MY_POD_IP}:4318
            include_metadata: true
