# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

controller:
  ingressClass: haproxy
  ingressClassResource:
    name: haproxy
    enabled: true
    default: false
  config:
    # https://wiki.mozilla.org/Security/Server_Side_TLS
    # The first cipher suite below is approved to be used by BIOS in the EN; it is NOT available in the Golang crypto library.
    # The remaining three cipher suites are approved for all other clients.
    global-config-snippet: |
      ssl-default-bind-ciphers DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
      ssl-default-bind-ciphersuites TLS_AES_256_GCM_SHA384
      ssl-default-bind-options ssl-min-ver TLSv1.2 ssl-max-ver TLSv1.3 no-tls-tickets
  defaultTLSSecret:
    enabled: true
    secretNamespace: orch-boots
    secretName: tls-boots
  extraArgs:
    - --default-ssl-certificate=orch-boots/tls-boots
  service:
    type: LoadBalancer
    nameOverride: ingress-nginx-controller
    ipFamilies:
      - IPv4
    ipFamilyPolicy: SingleStack
    enablePorts:
      http: false
      https: true
      stat: false
      prometheus: false
  resources: null
