# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

operator:
  image: "keycloak/keycloak-operator:26.5.3"

  relatedImage:
    keycloak: "keycloak/keycloak:26.5.3"

  env:
    # JAVA_OPTS on CI is set with a max heap of 256m which causes OOM errors in Keycloak 26.5.3
    # https://github.com/keycloak/keycloak/issues/45459
    - name: JAVA_OPTS_APPEND
      value: "-Xmx512m"