# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# Deploy minimally viable HA config. See https://kyverno.io/docs/installation/methods/#high-availability
# Migrate to v1.13 https://kyverno.io/docs/installation/upgrading/#upgrading-to-kyverno-v113
admissionController:
  replicas: 3
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - '*'
          resources:
            - '*'
          verbs:
            - get
            - list
            - watch
backgroundController:
  replicas: 2
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - '*'
          resources:
            - '*'
          verbs:
            - get
            - list
            - watch
cleanupController:
  replicas: 2
reportsController:
  replicas: 2
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - '*'
          resources:
            - '*'
          verbs:
            - get
            - list
            - watch

crds:
  migration:
    # -- Enable CRDs migration using helm post upgrade hook
    # disabling CRD migration as a workaround to https://github.com/kyverno/kyverno/issues/10283
    enabled: false

# Migrate to v1.13 https://kyverno.io/docs/installation/upgrading/#upgrading-to-kyverno-v113
features:
  policyExceptions:
    enabled: true
    namespace: 'kyverno'
