# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

traefikReverseProxy:
  # -- enabled is a switch to turn on/off the Traefik reverse proxy resource; Traefik MUST be deployed to orch-gateway ns before enabling it here.
  enabled: true
  # -- middlewares enable/disable to let other services route to this layer
  middlewares:
    enabled: true
  # -- secretName is name of k8s secret containing TLS server cert.
  secretName: "tls-orch"
  # -- matchRoute defines routing rules (e.g. Host(`http.sample.com`))
  matchRoute:

# https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
traefikApiGroup: "traefik.io/v1alpha1"

oidc:
  name: "keycloak-api"
  oidc_env_name: "OIDC_SERVER_URL"
  oidc_server_url: "http://platform-keycloak.keycloak-system.svc.cluster.local/realms/master"
  oidc_tls_insecure_skip_verify_env_name: "OIDC_TLS_INSECURE_SKIP_VERIFY"
  oidc_tls_insecure_skip_verify_value: "true"
