# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

loki:
  loki:
    storage:
      s3:
        endpoint: orchestrator-observability-minio:9000

mimir-distributed:
  minio:
    deploymentUpdate:
      type: Recreate
    makeBucketJob:
      exitCommand: ""
    makeUserJob:
      exitCommand: ""
    makePolicyJob:
      exitCommand: ""

opentelemetry-collector:
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            endpoint: ${env:MY_POD_IP}:4318
            include_metadata: true
    processors:
      # Used for Tempo to sample 50% of traces, based on TraceID
      probabilistic_sampler:
        sampling_percentage: 50

opentelemetry-collector-daemonset:
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            endpoint: ${env:MY_POD_IP}:4318
            include_metadata: true
      prometheus:
        config:
          scrape_configs:
            - job_name: opentelemetry-collector
              scrape_interval: 10s
              static_configs:
                - targets:
                    - ${env:MY_POD_IP}:8888
