# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

namespace: orch-database

image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 17.4.0-debian-12-r15

primary:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]
    seccompProfile:
      type: "RuntimeDefault"

auth:
  existingSecret: postgresql
