# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# From argocd/applications/templates/capi-operator-pre.yaml
# No configs or custom template values for this component
