# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Values for single-ip-routes chart
# Routes tinkerbell-haproxy through Traefik :443 in single-IP mode

clusterDomain: {{ .Values.clusterDomain }}
tlsSecret: {{ .Values.tlsSecret }}
traefikApiGroup: "traefik.io/v1alpha1"
