# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# From argocd/applications/configs/web-ui-cluster-orch.yaml
# + argocd/applications/custom/web-ui-cluster-orch.tpl

global:
  registry:
    name: "{{ .Values.containerRegistryURL }}"
    imagePullSecrets: {{ .Values.imagePullSecrets | toYaml | nindent 6 }}
  auth:
    keycloak:
      url: "https://keycloak.{{ .Values.clusterDomain }}"