
tlsOption: "gateway-tls"
traefikApiGroup: "traefik.io/v1alpha1"
orchSecretName: tls-orch
keycloakJwksUrl: http://platform-keycloak.orch-platform.svc
keycloakJwksPath: /realms/master/protocol/openid-connect/certs
keycloakServicePort: 8080
fleetMatchHost: Host(`fleet.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
harborOciMatchHost: Host(`registry-oci.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
observabilityMatchHost: Host(`observability-ui.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
observabilityAdminMatchHost: Host(`observability-admin.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
vaultMatchHost: Host(`vault.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
rootMatchHost: Host(`{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
keycloakMatchHost: Host(`keycloak.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
connectCSPs:
  - "https://keycloak.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "wss://vnc.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://app-service-proxy.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://app-orch.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://api.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://cluster-orch.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://metadata.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
  - "https://alerting-monitor.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
scriptSources:
  - "https://app-service-proxy.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
connectCSPsAppOrch:
  - "https://keycloak.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}"
clusterOrchNodeMatchHost: Host(`cluster-orch-node.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
logsNodeMatchHost: Host(`logs-node.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
metricsNodeMatchHost: Host(`metrics-node.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
giteaMatchHost: Host(`gitea.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
cors:
  enabled: true
  allowedOrigins:
    - https://{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}
    - https://web-ui.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}
