
auth:
  orchSvcs:
    roleMaxTTL: 1h
  oidc:
    idPAddr: "http://platform-keycloak.orch-platform.svc"
    idPDiscoveryURL: "http://platform-keycloak.orch-platform.svc/realms/master"
    roleMaxTTL: 1h
autoInit: true
image:
  registry: {{ env "RELEASE_SERVICE_URL" | default "registry-rs.edgeorchestration.intel.com" }}/edge-orch
  repository: common/secrets-config
imagePullSecrets: {}
