
installCRDs: true
resources:
  limits:
    cpu: "64"
    memory: 64Gi
  requests:
    cpu: 1m
    memory: 1Mi
cainjector:
  resources:
    limits:
      cpu: "64"
      memory: 64Gi
    requests:
      cpu: 1m
      memory: 1Mi
webhook:
  resources:
    limits:
      cpu: "64"
      memory: 64Gi
    requests:
      cpu: 1m
      memory: 1Mi
http_proxy: "{{ env "HTTP_PROXY" | default "" }}"
https_proxy: "{{ env "HTTPS_PROXY" | default "" }}"
no_proxy: "{{ env "NO_PROXY" | default "" }}"
