
tlsOption: "gateway-tls"
traefikApiGroup: "traefik.io/v1alpha1"
releaseMatchHost: Host(`release.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}`)
orchSecretName: tls-orch
image:
  registry: {{ env "RELEASE_SERVICE_URL" | default "registry-rs.edgeorchestration.intel.com" }}/edge-orch
  repository: common/token-fs
imagePullSecrets: {}
resources:
  limits:
    cpu: "64"
    memory: 64Gi
  requests:
    cpu: 1m
    memory: 1Mi
emptyReleaseServiceToken: "true"
