commonName: tinkerbell-haproxy.{{ env "CLUSTER_DOMAIN" | default "cluster.onprem" }}
haproxyIngress:
  # Set to false to disable Ingress resource (use LoadBalancer instead)
  enabled: true
haproxyIngressRateLimit:
  rps: 500
  connections: 70
