# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

image:
  registry: {{ .Values.containerRegistryURL }}
  repository: common/auth-service
  {{- if env "NEXUS_REPLACEMENT_TAG" }}
  tag: "{{ env "NEXUS_REPLACEMENT_TAG" }}"
  {{- end }}
imagePullSecrets: []

resources: null
