# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
#
# Values for tenancy-api-mapping

image:
  registry: {{ .Values.containerRegistryURL }}
  repository: common/tenancy-api-mapping
