# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

argo:
  proxy:
    httpProxy: ${http_proxy}
    httpsProxy: ${https_proxy}
    noProxy: ${no_proxy}
    enHttpProxy: ${en_http_proxy}
    enHttpsProxy: ${en_https_proxy}
    enFtpProxy: ${ftp_proxy}
    enSocksProxy: ${socks_proxy}
    enNoProxy: ${no_proxy}
