# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

network:
  version: 2
  ethernets:
    ens:
      match:
        name: ens*
        macaddress: "52:54:00:12:34:56"
      dhcp4: true
      set-name: orchnet
      addresses:
%{ for vmnet_ip in vmnet_ips ~}
      - ${vmnet_ip}
%{ endfor ~}