# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

name: Auto Approve & Merge

on:
  pull_request:
    types: [opened, synchronize, reopened]
  
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  auto-approve:
    name: Auto approve PR
    runs-on: ubuntu-latest
    if: |
      github.actor == 'sys-orch' && 
      github.event.pull_request.base.ref == 'main-pass-validation'
    steps:
      - uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.SYS_ORCH_GITHUB_APPROVE }}
          review-message: "Auto approved by sys-orch-github-approve bot"

  auto-merge:
    name: Auto merge PR
    runs-on: ubuntu-latest
    if: |
      github.actor == 'ashridatta' && 
      github.event.pull_request.base.ref == 'main'
    steps:
      - name: Auto merge
        uses: reitermarkus/automerge@v2
        with:
          token:  ${{ secrets.SYS_ORCH_GITHUB_APPROVE }}
          merge-method: squash
          do-not-merge-labels: 'DO NOT MERGE'
          dry-run: true
