# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

name: Contributing Guide Reminder

on:
  pull_request:
    types: [opened]
  issues:
    types: [opened]

jobs:
  remind-contributing:
    name: Remind Contributor
    runs-on: ubuntu-latest
    steps:
      - name: Check if contributor is first-time
        id: first-time
        uses: actions/first-interaction@v1.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Thank you for your contribution! Please make sure to review our [Contributing Guide](https://docs.openedgeplatform.intel.com/edge-manage-docs/main/developer_guide/contributor_guide/index.html)."
          pr-message: "Thank you for your contribution! Please make sure to review our [Contributing Guide](https://docs.openedgeplatform.intel.com/edge-manage-docs/main/developer_guide/contributor_guide/index.html)."
